<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Etsy API Recreation</title>
  <link rel="stylesheet" type="text/css" href="main.css">

</head>
<body>

  <script type="text/template" class="repoTemplate">
    <li class="<%= name %>-bg">
      <%= name %>
    </li>
  </script>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="token.js"></script>
<script src="main.js"></script>

</body>
</html>
