<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Etsy API Recreation</title>
  <link rel="stylesheet" type="text/css" href="main.css">
  <link rel="stylesheet" type="text/css" href="bower_components/octicons//octicons/octicons.css">
</head>
<body>
  <div class="topper">
    <img src="header.png">
  </div>
  <div id="sideInfo"></div>

  <div id="test"></div>


<script type="text/template" id="repo">
  <!-- <div id="repoData"> -->
    <li>
    <%= name %>
    <%= language %>
    <%= stargazers_count %>
    <%= forks %>
    <%= full_name %>
  </li>

</script>

<script type="text/template" id="sideBar">
  <li>
   <a><img src="<%= avatar_url %>"></a>
    <%= name %>
    <%= login %>
    <span class="octicon octicon-organization"><%= company %></span>
    <span class="octicon octicon-mail"><%= email %></span>
    <span class="octicon octicon-clock"><%= created_at %></span>
    <%= followers %>
    <%= starred_url %>
    <%= following %>
    <%= organizations_url %>
  </li>

</script>



<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="main.js"></script>
<script src="token.js"></script>

</body>
</html>
